<div class="container" >
 <p id="notice"><%= notice %></p>

	<%= display_customer_orders(@customer) %>

	<%= link_to 'Edit', edit_customer_path(@customer) %> | <%= link_to 'Back', customers_path %>

</div>

