<div class= "container">
  <div class= "hero-unit"><h1>Editing order</h1></div>

	<%= render 'form' %>

	<%= link_to 'Show', customer_order_path(@order.customer, @order) %> |
	<%= link_to 'Back', customer_orders_path(@order.customer) %>
</div>
